* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

.error {
  color: red;
}

.breed-select {
  margin-bottom: 30px;
}

.cat-info {
  margin-top: 20px;
}

.loader {
  --color-1: black;
  --size: 1px;

  width: calc(8 * var(--size));
  height: calc(48 * var(--size));
  display: block;
  margin: auto;
  left: calc(-20 * var(--size));
  position: relative;
  border-radius: calc(4 * var(--size));
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow:
      calc(20 * var(--size)) 0 var(--color-1),
      calc(40 * var(--size)) 0 rgba(255, 255, 255, 0.5),
      calc(60 * var(--size)) 0 rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow:
      calc(20 * var(--size)) 0 rgba(255, 255, 255, 0.5),
      calc(40 * var(--size)) 0 var(--color-1),
      calc(60 * var(--size)) 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow:
      calc(20 * var(--size)) 0 rgba(255, 255, 255, 0.5),
      calc(40 * var(--size)) 0 rgba(255, 255, 255, 0.5),
      calc(60 * var(--size)) 0 var(--color-1);
  }
}

.is-hidden {
  display: none;
}
